#inm-container {
	background-color: #fff;
}

.search-bar {
	background-color: #ff671b;
}

.header {
	background-color: #fff;
}

.header h1 {
	color: #ff671b;
}

.header h2 {
	color: #222;
}

.toolbar {
	background-color: #ff671b;
}

.list-group-item {
	border-color: #999;
}